
body{
  background: #f58aad;
}
.bg-custom{
    background-color: #e8e8e8 !important; 
}
.logo{
    height: 45px;
    width: 270px;
    font-size: 30px;
    color: gray;
}
.logo::first-letter{
    font-size: 40px;
}
.side-text{
    
    font-size: 12px;
    border-left: 1px gray solid;
  
}
 #main-wrap{
   position: relative;
  margin-top: -60px;
  border-radius: 10px;
 }
.outer-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  
  @media (min-width: 576px) {
    .outer-container {
      max-width: 580px;
    }
  }
  
  @media (min-width: 768px) {
    .outer-container {
      max-width: 760px;
    }
  }
  
  @media (min-width: 992px) {
    .outer-container {
      max-width: 1000px;
    }
  }
  
  @media (min-width: 1200px) {
    .outer-container {
      max-width: 1180px;
    }
  }

#fourImage .img-fluid{

  max-height: 370px;
}
  

#fourColumnsOne{
  border-bottom: 1px solid lightgray;
}  

.navbar-light .navbar-nav .nav-link:hover{
  color: crimson;
}

.circle-button{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  
}

.parent {
  overflow: hidden;
}

#mainFooter{
margin-top: -50px;
}
#mainFooter video{
  min-width: 100%;
}
.border-gray{
  border-color: lightgray !important;
}

#footer-bottom{
  height: 70px;
  line-height: 70px;
}